#ignore node modules
/node_modules
/server/node_modules

#ignore builds
/build
/server/build
/dist

#ignore test coverage
/coverage

#ignore environment files
.env
.env.*.local

#ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#ignore macOS
.DS_Store

#ignore VSCode files
.vscode/

#ignore SQLite DB
*.sqlite
*.db

#ignore backup files
*.bak
