.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 2rem;
  background-color: #121535;
  min-height: 100vh;
  padding-top: 7rem;
}

.Input {
  margin-bottom: 1.5rem;
}

.Input input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.Input button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #537fad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Input button:hover {
  background-color: #0056b3;
}

.Input select {
  margin-left: 1rem;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.Display {
  margin-top: 2rem;
}

table {
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  padding: 1rem;
  border: 1px solid #ddd;
}

th {
  background-color: #537fad;
  color: white;
  font-weight: 600;
}

td {
  font-size: 1rem;
}

.weather-icon {
  vertical-align: middle;
  height: 50px;
  width: 50px;
}
